<mat-card>
	<mat-card-title>
		<mat-icon>list</mat-icon>
		{{'general.settings.title' | translate}}
	</mat-card-title>
	<mat-card-subtitle>{{'general.settings.description' | translate}}</mat-card-subtitle>
	<mat-card-content>
		<mat-tab-group [dynamicHeight]="true">

			<mat-tab label="{{'general.settings.pageTitle' | translate}}">
				<div class="row">
					<div class="col-xl-6">
						<settings-main (saveApplication)="saveApplication($event)"
									   [application]="application">
						</settings-main>
					</div>
					<div class="col-xl-6">
						<settings-downtime (saveApplication)="saveApplication($event)"
										   [application]="application">
						</settings-downtime>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-xl-6">
						<settings-registration (saveApplication)="saveApplication($event)"
											   [application]="application">
						</settings-registration>
					</div>
					<div class="col-xl-6">
						<settings-urlshortening (saveApplication)="saveApplication($event)"
												[application]="application">
						</settings-urlshortening>
					</div>
				</div>-->
			</mat-tab>

			<mat-tab label="{{'general.settings.calendarTitle' | translate}}">
				<settings-calendars (saveApplication)="saveApplication($event)"
									[application]="application">
				</settings-calendars>
			</mat-tab>

			<mat-tab label="{{'general.settings.layoutTitle' | translate}}">
				<div class="row">
					<div class="col-12">
						<kt-settings-layout (saveApplication)="saveApplication($event)"
											[pageType]="'backend'"
											[application]="application">
						</kt-settings-layout>
					</div>
				</div>
			</mat-tab>

			<mat-tab label="{{'general.settings.mailingTitle' | translate}}">
				<settings-mailing (saveApplication)="saveApplication($event)"
								  [application]="application">
				</settings-mailing>
				<!--<div fxLayout="column"
                     fxLayout.gt-sm="row wrap">
                    <div fxFlex="60">
                      <settings-social-data (saveApplication)="saveApplication($event)"
                                            [application]="application">
                      </settings-social-data>
                    </div>
                    <div fxFlex="40">
                      <settings-social-sign-in (saveApplication)="saveApplication($event)"
                                               [application]="application">
                      </settings-social-sign-in>
                    </div>
                  </div>-->
			</mat-tab>

		</mat-tab-group>
	</mat-card-content>
</mat-card>
