@import "../../../../../../dist/assets/vendors/global/vendors.bundle.css";

// static skins css
@import "../../../../../assets/sass/theme/themes/default/header/skins/base/light.scss";
@import "../../../../../assets/sass/theme/themes/default/header/skins/menu/light.scss";
@import "../../../../../assets/sass/theme/themes/default/brand/skins/dark.scss";
@import "../../../../../assets/sass/theme/themes/default/aside/skins/dark.scss";

kt-base {
	opacity: 0;
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}

.kt-page--loaded {
	kt-base {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
}
