sudo: false

language: node_js

node_js:
  - "node"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

#before_install:
#  - curl -o- -L https://yarnpkg.com/install.sh | bash
#  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - npm install

script:
  - npm build --prod

notifications:
  email:
    on_failure: change
    on_success: change
