<mat-card [formGroup]="form">
	<mat-card-header>
		<mat-card-title>{{'general.settings.calendar.title' | translate}}</mat-card-title>
	</mat-card-header>

	<hr/>
	<mat-card-content formArrayName="assignedCalendars">

		<ng-container *ngFor="let control of form.get('assignedCalendars')['controls']; let i = index">
			<ng-container [formGroupName]="i">
				<div class="row mt-5">
					<div class="col-lg-3 d-flex">
						<mat-form-field class="w-100">
							<input matInput
								   placeholder="{{'general.settings.calendar.fieldTitle' | translate}}"
								   formControlName="title"/>
						</mat-form-field>
					</div>
					<div class="col-lg-2 d-flex">
						<mat-form-field class="w-100">
							<input matInput
								   placeholder="{{'general.settings.calendar.cssTitle' | translate}}"
								   formControlName="cssTitle"/>
						</mat-form-field>
					</div>
					<div class="col-lg-2 d-flex">
						<mat-checkbox formControlName="isActive">
							{{'general.settings.calendar.isActive' | translate}}
						</mat-checkbox>
					</div>
					<div class="col-lg-3 d-flex">
						<mat-form-field class="w-100">
							<input matInput
								   placeholder="{{'general.settings.calendar.link' | translate}}"
								   formControlName="link"/>
						</mat-form-field>
					</div>
					<div class="col-lg-2 text-right">
						<button mat-raised-button
								type="button"
								color="warn"
								(click)="deleteCalendar(i)">
							{{'general.settings.calendar.deleteCalendar' | translate}}
						</button>
					</div>

					<div class="col-12 text-center">
						<hr class="my-3 w-50"/>
					</div>

				</div>
			</ng-container>
		</ng-container>

	</mat-card-content>
	<mat-card-actions>
		<div fxLayout="column"
			 fxLayout.gt-sm="row"
			 fxLayoutGap="10px">
			<span></span>
			<span fxFlex=""></span>
			<button mat-raised-button
					type="button"
					color="primary"
					(click)="addCalendar()">
				{{'general.settings.calendar.addCalendar' | translate}}
			</button>
		</div>
	</mat-card-actions>
</mat-card>
