<!--<mat-card>
  <mat-card-content>
    <mat-tab-group [dynamicHeight]="true">
      <mat-tab label="{{'general.articles.dashboard.articles.latest' | translate}}">
        <div style="max-height: 70vh"
             [perfectScrollbar]="config">
          <article-card *ngFor="let article of articles | orderBy: ['-creationAt.seconds'] | slice : 0 : 10"
                        [article]="article">
          </article-card>
        </div>
      </mat-tab>

      <mat-tab label="{{'general.articles.dashboard.articles.planned' | translate}}">
        <div style="max-height: 70vh"
             [perfectScrollbar]="config">
          <article-card
            *ngFor="let article of articles | filterBy: ['publication.status'] : 2 | orderBy: ['publication.dateTime']"
                        [showPublication]="true"
                        [article]="article">
          </article-card>
        </div>
      </mat-tab>

      <mat-tab label="{{'general.articles.dashboard.articles.all' | translate}}">
        <div style="max-height: 70vh"
             [perfectScrollbar]="config">
          <article-card *ngFor="let article of articles | orderBy: ['title']"
                        [article]="article">
          </article-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>-->
