<mat-card [formGroup]="form">
	<mat-card-title>{{'general.settings.mailing.title' | translate}}</mat-card-title>
	<hr/>
	<mat-card-content formArrayName="mailing">

		<p *ngIf="!form.get('mailing')['controls']">
			{{'general.settings.mailing.noMailLists' | translate}}
		</p>

		<div *ngFor="let control of form.get('mailing')['controls']; let i = index">
			<div fxLayout="column"
				 [formGroupName]="i">

				<mat-form-field class="col-12">
					<input matInput
						   placeholder="{{'general.settings.mailing.fieldTitle' | translate}}"
						   formControlName="title"/>
				</mat-form-field>

				<div class="row">
					<div class="col-12 mb-3">
						<mat-checkbox formControlName="isActive">
							{{'general.settings.mailing.isActive' | translate}}
						</mat-checkbox>
					</div>
				</div>

				<div class="row">
					<mat-form-field class="chip-list">
						<mat-chip-list #chipList>
							<mat-chip *ngFor="let opt of typesOptionsArray[i]"
									  [selectable]="selectable"
									  [removable]="removable"
									  (removed)="removeOpt(opt, i)">
								{{opt}}
								<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
							</mat-chip>

							<input placeholder="{{'general.settings.mailing.addEmail' | translate}}"
								   formControlName="emails"
								   [matChipInputFor]="chipList"
								   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
								   [matChipInputAddOnBlur]="addOnBlur"
								   (matChipInputTokenEnd)="addOpt($event, i)"/>
						</mat-chip-list>
					</mat-form-field>
				</div>

				<div style="margin: 25px 0;">
					<button mat-raised-button
							type="button"
							color="warn"
							(click)="deleteMailList(i)">
						{{'general.settings.mailing.deleteMailList' | translate}}
					</button>
				</div>

			</div>
			<hr style="margin-bottom: 30px"/>
		</div>
	</mat-card-content>

	<mat-card-actions>
		<div fxLayout="column"
			 fxLayout.gt-sm="row"
			 fxLayoutGap="10px">
			<span></span>
			<span fxFlex=""></span>
			<button mat-raised-button
					type="button"
					color="primary"
					(click)="addMailList()">
				{{'general.settings.mailing.addMailList' | translate}}
			</button>
		</div>
	</mat-card-actions>
</mat-card>
