<kt-portlet *ngIf="application$ | async as application">
	<pre>{{application.page | json}}</pre>
	<kt-portlet-body>

		<kt-alert *ngIf="hasFormErrors"
				  type="warning"
				  [showCloseButton]="true"
				  [duration]="10000"
				  (close)="onAlertClose()">
			{{'forms.errors.title' | translate}}!
			{{'forms.errors.description' | translate}}
		</kt-alert>

		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-info"></i>
					{{'settings.main.title' | translate}}
				</ng-template>
				<ng-template matTabContent>
					<kt-settings-main [application]="application"
									  (setFormErrors)="setFormErrors($event)"
									  (saveApplication)="saveApplication($event)">
					</kt-settings-main>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-layer-group"></i>
					{{'settings.layout.title' | translate}}
				</ng-template>
				<ng-template matTabContent>
					<kt-settings-layout></kt-settings-layout>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-calendar-day"></i>
					{{'settings.calendars.title' | translate}}
				</ng-template>
				<ng-template matTabContent>
					<settings-calendars [application]="application"
										(setFormErrors)="setFormErrors($event)"
										(saveApplication)="saveApplication($event)">
					</settings-calendars>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-envelope"></i>
					{{'settings.mailing.title' | translate}}
				</ng-template>
				<ng-template matTabContent>
					<settings-mailing  [application]="application"
									   (setFormErrors)="setFormErrors($event)"
									   (saveApplication)="saveApplication($event)">
					</settings-mailing>
				</ng-template>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-link"></i>
					{{'settings.links.title' | translate}}
				</ng-template>
				<ng-template matTabContent>
					<settings-links [application]="application"
									(setFormErrors)="setFormErrors($event)"
									(saveApplication)="saveApplication($event)">
					</settings-links>
				</ng-template>
			</mat-tab>

		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>






