<mat-card>
  <mat-card-title>{{'general.articles.dashboard.authors.title' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'general.articles.dashboard.authors.description' | translate}}</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <canvas *ngIf="isDataAvailable; else loadingTemplate"
            height="200"
            baseChart
            [data]="chartData"
            [labels]="chartLabels"
            [options]="options"
            [chartType]="chartType">
    </canvas>
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
