<mat-card>
	<mat-card-title>
		<mat-icon>event</mat-icon>
		{{'general.menu.calendar.main' | translate}}
	</mat-card-title>
	<mat-card-subtitle>
		<button mat-raised-button=""
				(click)="eventClick($event)"
				color="warn"
				class="pull-right">
			<mat-icon>add</mat-icon>
			{{'general.calendar.add' | translate}}
		</button>
	</mat-card-subtitle>
	<mat-card-content>
		<!--<ng-container *ngIf="calendarOptions; else loadingTemplate">-->
			<full-calendar
				defaultView="dayGridMonth"
				[weekends]="true"
				[events]=""
				[plugins]="calendarPlugins">
			</full-calendar>
		<!--

		this.calendarOptions = {
			 editable: true,
			 eventLimit: true,
			 header: {
			 left: 'title',
			 center: 'month, basicWeek, basicDay', // agendaWeek,
			 right: 'today prev,next'
			 },
			 selectable: true,
			 events: data,
			 allDayText: 'ganztägig',
			 buttonText: {
			 today: 'Heute',
			 month: 'Monat',
			 week: 'Woche',
			 day: 'Tag',
			 list: 'Liste'
			 },
			 defaultDate: new Date(),
			 displayEventEnd: true,
			 firstDay: 1,
			 fixedWeekCount: true,
			 footer: true,
			 // height: '100',
			 locale: 'de',
			 // slotDuration: '15',
			 slotLabelFormat: 'hh:mm',
			 timeFormat: 'hh:mm',
			 timezone: 'local',
			 /* validRange: {
			 start: moment().subtract('14', 'day').format('YYYY-MM-DD'),
			 end: moment().add('1', 'month').format('YYYY-MM-DD')
			 }, //
			 weekNumbers: true,
			 weekNumberTitle: 'KW'
			 };


				#ucCalendar
				[options]="calendarOptions"
				(eventClick)="eventClick($event)"
				(clickButton)="clickButton($event)"
				(eventDrop)="updateEvent($event.detail)"
				(eventResize)="updateEvent($event.detail)"
				(clickButton)="clickButton($event.detail)"

				</ng-container>-->
	</mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
	Loading ...
</ng-template>
