<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
	<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>

		<div *ngIf="node.item.type">
			<ng-container [ngSwitch]="node.item.type">
				<ng-container *ngSwitchCase="'checkbox'">
					<div class="mat-form-field-fluid">
						<mat-checkbox>{{ getLabel(node) | translate }}</mat-checkbox>
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="'select'">
					<mat-form-field class="mat-form-field-fluid">
						<mat-label>{{getLabel(node) | translate}}</mat-label>
						<mat-select style="width: 100%">
							<mat-option *ngFor="let option of node.item.options"
										[value]="option">{{option | translate}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</ng-container>
				<ng-container *ngSwitchDefault>
					{{node | json}}
				</ng-container>
			</ng-container>
		</div>
	</mat-tree-node>

	<mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
		{{node | json}}
	</mat-tree-node>

	<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
		<span matTreeNodeToggle>{{ getLabel(node) + '.title' | translate}}</span>
	</mat-tree-node>
</mat-tree>
