.tree-invisible {
	display: none;
}

.tree ul,
.tree li {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.mat-form-field, .mat-form-field-wrapper, .radio-group {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.radio-button {
	margin: 5px;
}

.mat-tree-node {
	min-height: auto;
}
