<mat-card [formGroup]="form">
	<mat-card-title>
		<mat-icon>mode_edit</mat-icon>
		{{ 'general.menu.category.edit' | translate}}
	</mat-card-title>

	<ng-container *ngIf="category; else loadingTemplate">

		<mat-card-content>

			<div *ngIf="categoryTypes$ | async as categoryTypes; else loadingTemplate">

				<mat-form-field hintLabel="Max {{titleMaxLength}} characters">
					<label for="title">Title</label>
					<input id="title" matInput maxlength="{{titleMaxLength}}"
						   placeholder="{{'general.categories.list.colTitles.title' | translate}}"
						   formControlName="title">
					<mat-hint align="end">{{form.get('title').value.length || 0}}/{{titleMaxLength}}</mat-hint>
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="{{'general.categories.list.colTitles.category' | translate}}"
								formControlName="assignedCategoryType">
						<mat-option *ngFor="let categoryType of categoryTypes | orderBy: 'link'"
									[value]="categoryType.id">
							{{ 'general.menu.' + categoryType.link + '.main' | translate}}
						</mat-option>
					</mat-select>
					<mat-hint align="end">
						{{'general.categories.edit.categoryDefaultPlaceholder' | translate }}
					</mat-hint>
				</mat-form-field>

				<mat-checkbox formControlName="isMainCategory">
					{{'general.categories.edit.isMainCategory' | translate }}
				</mat-checkbox>

			</div>

			<div style="margin-top: 25px">
				<label>{{'general.categories.edit.descriptionPlaceHolder' | translate}}</label>
				<textarea formControlName="description"><!-- [froalaEditor] -->
					{{'general.articles.edit.textPlaceholder' | translate}}
				</textarea>
			</div>

		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button
					type="button"
					color="primary"
					[routerLink]="['/categories']">
				{{'general.menu.category.list' | translate}}
			</button>
			<button mat-raised-button
					*ngIf="category.id"
					type="button"
					color="accent"
					[routerLink]="['/categories/detail', category.id]">
				{{'general.detail' | translate }}
			</button>
			<button mat-raised-button
					type="button"
					color="warn"
					(click)="removeCategory(category)">
				{{'general.delete' | translate }}
			</button>
		</mat-card-actions>
	</ng-container>
</mat-card>


<ng-template #loadingTemplate>
	Loading ...
</ng-template>
