<mat-card>
  <mat-card-title>{{'general.creation.title' | translate}}</mat-card-title>
  <hr/>
  <mat-card-content [formGroup]="form">

    <mat-form-field>
      <input matInput
             placeholder="{{'general.creation.creationDate' | translate}}"
             formControlName="at">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{'general.creation.author' | translate}}"
                  formControlName="from">

        <mat-option value="system">{{'general.creation.viaScript' | translate}}</mat-option>

        <mat-option *ngFor="let user of users | orderBy: ['firstName', 'lastName', 'email']"
                    [value]="user.id">
          {{user.firstName && user.lastName ? user.firstName + ' ' + user.lastName : user.email}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

</mat-card>
