<mat-card [formGroup]="form">
  <mat-card-header>
    <mat-card-title>{{'general.applications.mainTitle' | translate}}</mat-card-title>
  </mat-card-header>
  <hr/>
  <mat-card-content formGroupName="page">


    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <mat-form-field fxFlex="50">
        <input matInput
               placeholder="{{'general.applications.page.name' | translate}}"
               formControlName="name"/>
        <mat-hint>{{'general.applications.page.nameDescription' | translate}}</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="50">
        <input matInput
               placeholder="{{'general.applications.page.emailTitle' | translate}}"
               formControlName="email"/>
        <mat-hint>{{'general.applications.page.emailDescription' | translate}}</mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="column"
         fxLayout.gt-sm="row"
         style="margin-top: 25px"
         fxLayoutGap="10px">
      <mat-form-field fxFlex="100">
        <input matInput
               placeholder="{{'general.applications.page.title' | translate}}"
               formControlName="title"/>
        <mat-hint>{{'general.applications.page.titleDescription' | translate}}</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <input matInput
               placeholder="{{'general.applications.page.keywords' | translate}}"
               formControlName="assignedKeywords"/>
        <mat-hint>{{'general.applications.page.keywordDescription' | translate}}</mat-hint>
      </mat-form-field>
    </div>

    <div style="margin-top: 40px">
      <label>{{'general.applications.page.descriptionDescription' | translate}}</label><br/>
      <!--<div [froalaEditor]
           formControlName="description">
      </div>-->
    </div>

  </mat-card-content>
</mat-card>
