<mat-card [formGroup]="form">
	<mat-card-header>
		<mat-card-title>{{'general.settings.page.title' | translate}}</mat-card-title>
	</mat-card-header>
	<hr/>
	<mat-card-content formGroupName="page">

		<div class="row">
			<div class="col-lg-6 d-flex">
				<mat-form-field class="w-100">
					<input matInput
						   placeholder="{{'general.settings.page.name' | translate}}"
						   formControlName="name"/>
					<mat-hint>{{'general.settings.page.nameDescription' | translate}}</mat-hint>
				</mat-form-field>
			</div>
			<div class="col-lg-6 d-flex">
				<mat-form-field class="w-100">
					<input matInput
						   placeholder="{{'general.settings.page.emailTitle' | translate}}"
						   formControlName="email"/>
					<mat-hint>{{'general.settings.page.emailDescription' | translate}}</mat-hint>
				</mat-form-field>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-12 d-flex">
				<mat-form-field class="w-100">
					<input matInput
						   placeholder="{{'general.settings.page.title' | translate}}"
						   formControlName="title"/>
					<mat-hint>{{'general.settings.page.titleDescription' | translate}}</mat-hint>
				</mat-form-field>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-12 d-flex">
				<mat-form-field class="w-100">
					<input matInput
						   placeholder="{{'general.settings.page.keywords' | translate}}"
						   formControlName="assignedKeywords"/>
					<mat-hint>{{'general.settings.page.keywordsDescription' | translate}}</mat-hint>
				</mat-form-field>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-12 d-flex">
				<mat-form-field class="w-100">
					<mat-hint>{{'general.settings.page.descriptionDescription' | translate}}</mat-hint>
					<textarea matInput formControlName="description"></textarea>
				</mat-form-field>
			</div>
		</div>

	</mat-card-content>
</mat-card>
