.sponsor-badge h3 {
  color: red;
  font-weight: bolder;
  padding-top: 7px;
}

.media-grid figure {
  background-color: transparent;
  padding: 0 15px;
}

.media-grid img {
  border-bottom: 1px dashed #cecece;
  min-height: 100px;
  max-height: 300px;
}
