<div class="kt-portlet kt-portlet--height-fluid kt-widget19">

	<kt-portlet-header [title]="sponsor.title">
		<ng-container ktPortletTools>
			<div ngbDropdown>
				<button class="btn btn-outline-secondary" id="dropdownConfig" ngbDropdownToggle>{{'actions' | translate}}</button>
				<div ngbDropdownMenu aria-labelledby="dropdownConfig">
					<button class="dropdown-item" [routerLink]="['/sponsors/edit/', sponsor.id]">{{'sponsors.edit.button' | translate }}</button>
					<button class="dropdown-item" (click)="removeSponsor(sponsor)">{{'sponsors.delete.button' | translate}}</button>
				</div>
			</div>
		</ng-container>
	</kt-portlet-header>

	<div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">

		<ng-container>
			<div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides">
				<img class="img-thumbnail" [src]="sponsorLogo$ | async"/>
				<h3 class="kt-widget19__title kt-font-light">
					<ng-container *ngFor="let category of sponsor.assignedCategories">
						<a [routerLink]="['/categories/detail', category.id]"
						   class="btn btn-light btn-bold mr-1">{{category.title}}</a>
					</ng-container>
				</h3>
				<div class="kt-widget19__shadow"></div>
			</div>
		</ng-container>

	</div>
	<div class="kt-portlet__body">
		<div class="kt-widget19__wrapper">
			<div class="kt-widget19__content">
				<div class="kt-widget19__userpic" *ngIf="contactImage$ | async as contactImage">
					<img src="{{contactImage}}" alt="{{sponsor.contact.name}}">
				</div>
				<div class="kt-widget19__info">
					<span class="kt-widget19__username">{{sponsor.contact.name}}</span>
					<span class="kt-widget19__time">{{'contact.name' | translate}}</span>
				</div>
				<div class="kt-widget19__stats">
					<span class="kt-widget19__number kt-font-brand">{{sponsor.revenue}} €</span>
					<a href="#" class="kt-widget19__comment">{{'sponsors.revenue' | translate }}</a>
				</div>
			</div>
			<div class="kt-widget19__text">{{sponsor.description | truncate: [ maxDescriptionLength, '...' ]}}</div>
		</div>
		<div class="kt-widget19__action">
			<a [routerLink]="['/sponsors/detail', sponsor.id]"
			   class="btn btn-sm btn-label-brand btn-bold">{{'readMore' | translate}}</a>
		</div>
	</div>
</div>


<!--

  <mat-card-content [perfectScrollbar]="config"
                    style="max-height: 250px">
    <div>
      <span [innerHtml]="sponsor.description"></span>
      <span class="mat-text-muted text-sm"
            [innerHtml]="sponsor.internalInfo">
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="10px">
      <span></span>
      <span fxFlex=""></span>
      <button mat-icon-button
              title="{{'general.detail' | translate}}"
              [routerLink]="['/sponsors/detail', sponsor.id]">
        <mat-icon>pageview</mat-icon>
      </button>
      <button mat-icon-button
              title="{{'general.edit' | translate}}"
              [routerLink]="['/sponsors/edit', sponsor.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button
              title="{{'general.delete' | translate}}"
              (click)="removeSponsor.emit(sponsor)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>-->
