<mat-card [formGroup]="form">
  <mat-card-title>{{'general.applications.registration.title' | translate}}</mat-card-title>
  <hr/>
  <mat-card-content>
    <div fxLayout="column">
      <mat-form-field fxflex="100" style="margin-top: 25px;">
        <mat-select placeholder="{{'general.applications.registration.newUserLabel' | translate}}"
                    formControlName="registration">
          <mat-option [value]="0">{{'general.applications.registration.disableRegistration' | translate}}</mat-option>
          <mat-option *ngFor="let role of roles"
                      [value]="role">
            {{'general.users.edit.roles.' + role | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
