<mat-card>
  <mat-card-title>
    {{ showForm
    ? ('general.clubs.edit.management.positions.title' | translate)
    : 'general.clubs.edit.management.list.title' | translate
    }}
  </mat-card-title>
  <mat-card-content>

    <div class="alert alert-info"
         *ngIf="members.length === 0">
      <p>{{'general.members.list.noMembers' | translate}}</p>
    </div>

    <div class="alert alert-info"
         *ngIf="positions.length === 0">
      <p>{{'general.clubs.edit.management.positions.noManagementPositions' | translate}}</p>
    </div>

    <div *ngIf="positions.length > 0 && members.length > 0">
      <button mat-raised-button
              style="margin-bottom: 25px"
              *ngIf="!showForm"
              type="button"
              color="primary"
              (click)="toggleForm()">
        {{ 'general.clubs.edit.management.positions.addMember' | translate }}
      </button>

      <div *ngIf="showForm">
        <club-management-form [members]="members"
                              [selectedPosition]="selectedPosition"
                              [positions]="positions"
                              (cancel)="cancel()"
                              (saveClub)="saveClub.emit($event)">
        </club-management-form>
      </div>

      <div *ngIf="!showForm && positions.length > 0">
        <club-management-list [members]="members"
                              [positions]="positions"
                              [showLinks]="showLinks"
                              (editManagementPosition)="editManagementPosition($event)"
                              (saveClub)="saveClub.emit($event)">
        </club-management-list>
      </div>
    </div>

  </mat-card-content>
</mat-card>
