<mat-card>
	<mat-card-title>
		<mat-icon>donut_small</mat-icon>
		{{'general.categories.list.categoriesByCategoryType' | translate}}
	</mat-card-title>
	<mat-card-subtitle></mat-card-subtitle>
	<hr>
	<mat-card-content>
		<canvas *ngIf="isDataAvailable; else loadingTemplate"
				height="200"
				baseChart
				[data]="doughnutChartData"
				[labels]="doughnutChartLabels"
				[options]="doughnutOptions"
				[chartType]="doughnutChartType"></canvas>
	</mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
	Lade ...
</ng-template>
