<mat-card>
  <mat-card-title class="mat-blue">
    <h2 mat-card-widget-title>{{'general.dashboard.lastArticles' | translate}}</h2>
    <hr>
  </mat-card-title>
  <mat-card-content>

    <infinite-scroll [listType]="listType"
                     [viewPortHeight]="viewPortHeight"
                     [maxItems]="maxItems"
                     [sortOrder]="sortOrder"
                     [showText]="showText"
                     [sortField]="sortField">
    </infinite-scroll>
  </mat-card-content>
</mat-card>
