<mat-card [formGroup]="form">
  <mat-card-title>{{'general.settings.downtime.title' | translate}}</mat-card-title>
  <hr/>
  <mat-card-content formArrayName="downtime">

	  <div class="row">
		  <div class="col-lg-12 d-flex mb-5">
			  <mat-checkbox formControlName="isEnabled">
				  {{'general.settings.downtime.isActive' | translate}}
			  </mat-checkbox>
		  </div>

		  <div class="col-lg-12">
			  <label class="w-100">{{'general.settings.downtime.message' | translate}}</label><br/>
			  <textarea class="w-100" formControlName="message"></textarea>
			  <mat-hint class="w-100">{{'general.settings.downtime.messageDescription' | translate}}</mat-hint>
		  </div>

	  </div>

  </mat-card-content>
</mat-card>

