<mat-card [formGroup]="form">
  <mat-card-title>{{'general.applications.downtime.title' | translate}}</mat-card-title>
  <hr/>
  <mat-card-content formArrayName="downtime">

    <div fxLayout="column"
              fxLayout.gt-sm="row wrap"
              fxLayoutGap="10px">
      <mat-checkbox fxflex="100"
                    formControlName="isEnabled">
        {{'general.applications.downtime.isActive' | translate}}
      </mat-checkbox>

      <br/>

      <div fxFlex="100" style="margin-top: 25px">
        <label>{{'general.applications.downtime.message' | translate}}</label><br/>
        <p>{{'general.applications.downtime.messageDescription' | translate}}</p>
        <!--<div [froalaEditor]
             formControlName="message">
        </div>-->
      </div>
    </div>

  </mat-card-content>
</mat-card>

