<kt-portlet [formGroup]="form">
	<kt-portlet-header [title]="'clubs.detail.createManagementTitle' | translate"></kt-portlet-header>
	<kt-portlet-body>

		<mat-form-field class="mat-form-field-fluid my-3">
			<mat-select placeholder="{{'clubs.edit.placeholder.assignedMember' | translate}}"
						formControlName="assignedMember">
				<mat-option
					*ngFor="let member of members | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday.full']"
					[value]="{ id: member.id, firstName: member.mainData.firstName, lastName: member.mainData.lastName}">
					{{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday.full | date:'dd.MM.yy'}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="mat-form-field-fluid my-3">
			<mat-select
				placeholder="{{'clubs.edit.placeholder.assignedPosition' | translate}}"
				formControlName="assignedPosition">
				<mat-option *ngFor="let position of positions | orderBy: ['title']"
							[value]="{ id: position.id, title:position.title}">
					{{position.title}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field fxFlex.gt-sm="49">
			<input matInput
				   readonly="readonly"
				   [matDatepicker]="dp3"
				   formControlName="startDate"
				   placeholder="{{'clubs.edit.placeholder.startDate' | translate}}">
			<mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
			<mat-datepicker #dp3 disabled="false"></mat-datepicker>
		</mat-form-field>

		<mat-form-field fxFlex.gt-sm="49">
			<input matInput
				   readonly
				   [matDatepicker]="dp4"
				   formControlName="endDate"
				   placeholder="{{'clubs.edit.placeholder.endDate' | translate}}">
			<mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
			<mat-datepicker #dp4 disabled="false"></mat-datepicker>
		</mat-form-field>

	</kt-portlet-body>
	<kt-portlet-footer>
		<button class="btn btn-primary"
				[disabled]="!form.valid"
				type="button"
				(click)="save()">
			{{ 'clubs.edit.savePosition' | translate}}
		</button>
		<button type="button"
				class="btn btn-warning"
				(click)="cancelForm()">
			{{'cancel' | translate}}
		</button>
	</kt-portlet-footer>
</kt-portlet>
