*.pack
.git

tests/
test/
Tests/
Test/

node_modules/
/node_modules/
.github/
examples/
style/

benchmarks/
cmake/
csharp/
editors/
java/
kokoro/
m4/
objectivec/
ruby/
third_party/benchmark
third_party/googletest
util/

gax/dev/

docs/
doc/

*.css
*.js
*.html
*.md
*.xml

.gitignore
.gitattributes

*.yml
*.json
*.txt
*.sh

bin/

tools/
travis/
build/
random_compat/dist

BigQuery/
BigQueryDataTransfer/
Bigtable/
Container/
Dataproc/
Datastore/
Dialogflow/
Dlp/
Iot/
Kms/
Monitoring/
OsLogin/
Redis/
Spanner/
Speech/
Storage/
Tasks/
TextToSpeech/
Trace/
Translate/
VideoIntelligence/
Vision/

conformance/
js/
protoc-artifacts/

.gitmodules
BUILD
Makefile.am
WORKSPACE
COPYING
*.in
*.BUILD
*.bzl
*.ac
*.bat

*.dist
client_secret.json

README
LICENSE
VERSION
AUHTHORS

Makefile
.php_cs
.editorconfig

!firestore_client_config.json
!composer.json

!twitter_secret.json
