<mat-card>
  <mat-card-title>
    {{'general.clubs.edit.timeLineTitle' | translate}}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <time-line-list [articles]="articles"
                    [showLinks]="true"
                    [events]="club.timeLine"
                    (edit)="editTimeLineEvent($event)"
                    (delete)="deleteTimeLineEvent($event)">
    </time-line-list>
    <time-line-form [articles]="articles"
                    [editEvent]="editEvent"
                    (cancel)="cancelEditTimeLineEvent()"
                    (update)="updateTimeLineEvent($event)"
                    (save)="saveTimeLineEvent($event)">
    </time-line-form>
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
