<div class="mat-dialog-container"
	 [formGroup]="form">

	<h1 class="mat-dialog-title">{{'general.calendar.detail' | translate}}</h1>

	<mat-form-field>
		<input matInput
			   placeholder="{{'general.calendar.title' | translate}}"
			   formControlName="title"/>
	</mat-form-field>

	<div formGroupName="creator">
		<mat-form-field>
			<input matInput
				   placeholder="{{'general.calendar.creator.email' | translate}}"
				   formControlName="email"/>
		</mat-form-field>

		<mat-form-field>
			<input matInput
				   placeholder="{{'general.calendar.creator.displayName' | translate}}"
				   formControlName="displayName"/>
		</mat-form-field>
	</div>
</div>


<p>{{ 'general.calendar.dateText' | translate}}</p>

<div>
	<mat-checkbox (change)="toggleAllDayEvent()"
				  formControlName="allDayEvent"
				  labelPosition="after">
		{{ 'general.calendar.allDayEvent' | translate}}
	</mat-checkbox>
</div>
<div *ngIf="form.get('allDayEvent').value">
	<input placeholder="{{ 'general.calendar.date' | translate}}"
		   formControlName="start"
		   [owlDateTimeTrigger]="dt3"
		   [owlDateTime]="dt3">
	<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
</div>


<div *ngIf="!form.get('allDayEvent').value">
	<input placeholder="{{ 'general.calendar.startDate' | translate}}"
		   formControlName="start"
		   [owlDateTime]="dt1"
		   [owlDateTimeTrigger]="dt1">
	<owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
</div>

<div style="padding-left: 30px">
	<input placeholder="{{ 'general.calendar.endDate' | translate}}"
		   formControlName="end"
		   [owlDateTime]="dt2"
		   [owlDateTimeTrigger]="dt2">
	<owl-date-time [pickerMode]="'dialog'" #dt2></owl-date-time>
</div>


<mat-form-field>
	<input matInput
		   placeholder="{{'general.calendar.location' | translate}}"
		   formControlName="location"/>
</mat-form-field>

<div>
	<mat-form-field>
		<label for="link">{{'general.calendar.googleCalendarLink' | translate}}</label>
		<input matInput id="link"
			   placeholder="{{'general.calendar.googleCalendarLink' | translate}}"
			   formControlName="htmlLink"/>
		<mat-icon style="cursor: pointer"
				  matSuffix
				  (click)="openGoogleCalendar(form.get('htmlLink').value)">link
		</mat-icon>
	</mat-form-field>
</div>


<mat-form-field>
	<label for="description">{{'general.calendar.description' | translate}}</label>
	<input matInput id="description"
		   placeholder="{{'general.calendar.description' | translate}}"
		   formControlName="description"/>
</mat-form-field>

<div class="mat-dialog-actions" style="margin-top: 3rem;">
	<button mat-raised-button
			type="button"
			color="warn"
			(click)="onNoClick()">
		{{'general.cancel' | translate}}
	</button>
	<button mat-raised-button
			type="button"
			color="accent"
			[mat-dialog-close]="data">
		{{'general.save' | translate}}
	</button>
</div>

