<div class="row">
	<div class="col-lg-8">
		List
		<!--<time-line-list [articles]="articles"
						[showLinks]="true"
						[events]="club.timeLine"
						(edit)="editTimeLineEvent($event)"
						(delete)="deleteTimeLineEvent($event)">
		</time-line-list>-->
	</div>
	<div class="col-lg-4">
		Form
		<!--<time-line-form [articles]="articles"
						[editEvent]="editEvent"
						(cancel)="cancelEditTimeLineEvent()"
						(update)="updateTimeLineEvent($event)"
						(save)="saveTimeLineEvent($event)">
		</time-line-form>-->
	</div>
</div>
