<div class="row">
	<div class="col-lg-8">
		<kt-portlet>
			<kt-portlet-header [title]="'article.list.title' | translate"
							   [class]="'kt-portlet__head--lg'"
							   [viewLoading$]="dataSource.loading$">
				<ng-container ktPortletTools>
					<button [routerLink]="['./create']"
							mat-raised-button color="primary"
							matTooltip="{{ 'article.list.add.full' | translate}}">
						{{ 'article.list.add.short' | translate}}
					</button>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="kt-form">
					<div class="kt-form__filtration">
						<div class="row align-items-center">
							<div class="col-md-2 kt-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<label>
										<input matInput placeholder="{{ 'article.list.search.placeholder' | translate}}" #searchInput>
									</label>
									<mat-hint align="start">
										{{ 'article.list.search.hint' | translate}}
									</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>

				</div>
				<div class="mat-table__wrapper">
					<mat-table class="lmat-elevation-z8"
							   [dataSource]="dataSource"
							   matSort
							   #sort1="matSort"
							   matSortActive="title"
							   matSortDirection="asc"
							   matSortDisableClear>
						<ng-container matColumnDef="select">
							<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
								<mat-checkbox (change)="$event ? masterToggle() : null"
											  [checked]="selection.hasValue() && isAllSelected()"
											  [indeterminate]="selection.hasValue() && !isAllSelected()">
								</mat-checkbox>
							</mat-header-cell>
							<mat-cell *matCellDef="let row" class="mat-column-checkbox">
								<mat-checkbox (click)="$event.stopPropagation()"
											  (change)="$event ? selection.toggle(row) : null"
											  [checked]="selection.isSelected(row)">
								</mat-checkbox>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="id">
							<mat-header-cell *matHeaderCellDef
											 mat-sort-header>{{ 'article.list.table.id' | translate}}</mat-header-cell>
							<mat-cell *matCellDef="let article">{{article.id}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="title">
							<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'article.list.table.title' | translate}}</mat-header-cell>
							<mat-cell *matCellDef="let article">{{article.title}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>{{ 'actions' | translate}}</mat-header-cell>
							<mat-cell *matCellDef="let article">
								<button (click)="showArticle(article)" mat-icon-button color="warn"
										matTooltip="{{ 'article.list.detail' | translate}}">
									<mat-icon>info</mat-icon>
								</button>
								<button (click)="editArticle(article)" mat-icon-button color="primary"
										matTooltip="{{ 'article.list.edit' | translate}}">
									<mat-icon>create</mat-icon>
								</button>&nbsp;
								<button mat-icon-button color="warn"
										matTooltip="{{ 'article.list.delete' | translate}}"
										type="button"
										(click)="deleteArticle(article)">
									<mat-icon>delete</mat-icon>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

						<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
					</mat-table>
					<div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ 'article.list.noEntries' | translate}}</div>
					<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">{{ 'pleaseWait' | translate}}</div>
				</div>

				<div class="mat-table__bottom">
					<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
					<mat-paginator [pageSize]="selectedPageSize"
								   [pageSizeOptions]="pageSizes"
								   [length]="dataSource.paginatorTotal$ | async"
								   [showFirstLastButtons]="true">
					</mat-paginator>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>
