<kt-portlet [formGroup]="form">
	<kt-portlet-body formArrayName="assignedCalendars">
		<div *ngFor="let control of form.get('assignedCalendars')['controls']; let i = index">

			<div class="row py-3"
				 [formGroupName]="i">

				<div class="col-lg-3">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput
							   minlength="{{minLength15}}"
							   placeholder="{{'settings.calendars.placeholder.title' | translate}}"
							   formControlName="title">
						<mat-error *ngIf="form.get('assignedCalendars')['controls'][i]['controls']['title'].errors?.minlength">{{'forms.errors.minLength' |translate: minLength15}}</mat-error>
						<mat-hint align="start"
								  *ngIf="!form.get('assignedCalendars')['controls'][i]['controls']['title'].value">{{'settings.main.hints.title' | translate}}</mat-hint>
						<mat-hint align="end">{{form.get('assignedCalendars')['controls'][i]['controls']['title'].value.length || 0}}/{{maxLength255}}</mat-hint>
					</mat-form-field>
				</div>

				<div class="col-lg-2">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select placeholder="{{'settings.calendars.placeholder.cssClass' | translate}}"
									formControlName="cssTitle">
							<mat-option *ngFor="let class of cssClasses"
										[value]="class">{{'cssClasses.' + class | translate}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col-lg-2">
					<mat-checkbox formControlName="isActive">
						{{'settings.calendars.placeholder.isActive' | translate}}
					</mat-checkbox>
				</div>

				<div class="col-lg-3">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput
							   minlength="{{minLength15}}"
							   placeholder="{{'settings.calendars.placeholder.link' | translate}}"
							   formControlName="link">
						<mat-error *ngIf="form.get('assignedCalendars')['controls'][i]['controls']['link'].errors?.minlength">{{'forms.errors.minLength' |translate: minLength15}}</mat-error>
						<mat-hint align="start"
								  *ngIf="!form.get('assignedCalendars')['controls'][i]['controls']['link'].value">{{'settings.calendars.hints.link' | translate}}</mat-hint>
						<mat-hint align="end">{{form.get('assignedCalendars')['controls'][i]['controls']['link'].value.length || 0}}/{{maxLength255}}</mat-hint>
					</mat-form-field>
				</div>


				<div class="col-lg-2 text-right">
					<button class="btn btn-danger" type="button" (click)="deleteCalendar(i)">{{'settings.calendars.delete' | translate}}</button>
				</div>

			</div>
		</div>
	</kt-portlet-body>
	<kt-portlet-footer class="text-right mr-4">
		<button class="mt-4 btn btn-primary" type="button" (click)="addCalendar()">{{'settings.calendars.add' | translate}}</button>
	</kt-portlet-footer>
</kt-portlet>
