<kt-portlet>
	<kt-portlet-header [title]="'category.list.title' | translate"
					   [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
			<button (click)="addCategory()"
					mat-raised-button color="primary"
					matTooltip="{{ 'category.list.add.full' | translate}}">
				{{ 'category.list.add.short' | translate}}
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<label>
								<input matInput
									   (keyup)="filterDataSource($event.target.value)"
									   placeholder="{{ 'category.list.search.placeholder' | translate}}"
									   #searchInput>
							</label>
							<mat-hint align="start">
								{{ 'category.list.search.hint' | translate}}
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
		<div class="mat-table__wrapper">
		<!-- [trackBy]="trackByFnc" -->

			<mat-table class="lmat-elevation-z8"
                       #table
					   mat-table
					   [dataSource]="dataSource"
					   matSort
                       #sort1="matSort"
					   matSortDisableClear>
				<!--[trackBy]="trackById"-->
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
									  [checked]="selection.hasValue() && isAllSelected()"
									  [indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()"
									  (change)="$event ? selection.toggle(row) : null"
									  [checked]="selection.isSelected(row)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'category.list.table.id' | translate}}</mat-header-cell>
					<mat-cell *matCellDef="let category">{{category.id}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="title">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'category.list.table.title' | translate}}</mat-header-cell>
					<mat-cell *matCellDef="let category">{{category.title}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="parentCategory">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'category.list.table.parentCategory' | translate}}</mat-header-cell>
					<mat-cell *matCellDef="let category">{{category.parentCategory ? category.parentCategory.title : ''}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>{{ 'actions' | translate}}</mat-header-cell>
					<mat-cell *matCellDef="let category">
						<button (click)="editCategory(category)" mat-icon-button color="primary" matTooltip="{{ 'category.list.edit' | translate}}">
							<mat-icon>create</mat-icon>
						</button>&nbsp;
						<button mat-icon-button color="warn"
								matTooltip="{{ 'category.list.delete' | translate}}"
								type="button"
								(click)="deleteCategory(category)">
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="!dataSource.data">{{ 'category.list.noEntries' | translate}}</div>
			<div class="mat-table__message" *ngIf="isLoading">{{ 'pleaseWait' | translate}}</div>
		</div>

		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
			<mat-paginator [pageSizeOptions]="pageSizes"
						   [length]="dataSource.data.length"
						   [showFirstLastButtons]="true">
			</mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>

