<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
	<div
		class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
		<div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
			 [ngStyle]="{'background-image': 'url('+ backgroundImage +')'}">
			<div class="kt-grid__item">
				<a [routerLink]="['/']" class="kt-login__logo">
					<img [src]="mainLogo" [alt]="pageTitle">
				</a>
			</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
				<div class="kt-grid__item kt-grid__item--middle">
					<h3 class="kt-login__title">{{ 'global.title' | translate}}</h3>
					<h4 class="kt-login__subtitle">{{'global.description' | translate}}</h4>
				</div>
			</div>
			<div class="kt-grid__item">
				<div class="kt-login__info">
					<div class="kt-login__copyright">
						© {{today|date:'yyyy'}} {{copyright}}
					</div>
					<div class="kt-login__menu">
						<ng-container *ngFor="let article of articles$ | async">
							<a [routerLink]="['/articles/', article.id]" class="kt-link">{{article.title | translate}}</a>
						</ng-container>
					</div>
				</div>
			</div>
		</div>

		<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
			<router-outlet></router-outlet>
		</div>

	</div>
</div>
