@import "../../../../../dist/assets/css/style.bundle.css";
@import "../../../../../dist/assets/css/default/pages/login/login-1.scss";

kt-auth, .kt-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	}
}
