<!--<mat-list-item *ngFor="let member of members; let last = last">
	<media-avatar [assignedObjects]="assignedObjects"
				  [itemId]="member.id">
	</media-avatar>


	<h4 mat-line>{{member.mainData.firstName}} {{member.mainData.lastName}}</h4>
	<p mat-line>
    <span class="demo-secondary-text">
		{{ !birthdays[ member.id ] ? setAge(member) : birthdays[ member.id ]}}
		{{'general.dashboard.yearsOld' | translate}}
    </span>
	</p>
	<mat-divider inset="true" *ngIf="!last"></mat-divider>
</mat-list-item>

<ng-template #loadingTemplate>
	Lade ...
</ng-template>
-->
ToDo
